.slider{
position: relative;
}
.text{
   position: absolute;
   left: 10px;
   right: 10px;
   bottom: 2%;
   text-align: center;
   height: 50px;
   background-color: #ffffff15 !important;
   color: #fff;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.overLay-container{
    background-color: #ffffff21 !important;
}
.overlay{
    width: 500px;
    height: 500px;
    text-align: center;
    background-image: url(../assets/download.jpeg);
    background-position: center center;
    background-size: cover;
}
.exite-mark{
top: 10px;
right: 10px;
font-size: 20px;
cursor: pointer;
}

.arrow-right{
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 20px;
        cursor: pointer;

}
.arrow-left{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.slider{
    cursor: pointer;
}